body{
    background-color: plum;
}
h1{
    text-align: justify;
    text-align: center;
    background-color: white;
}
p{
    text-align: justify;
    font-style: normal;
    font-size:30px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

